.content {
    font-family: Sans-Serif;
    line-height: 1.5em;
    max-width: 100%;
    width: 500px;
    margin: auto auto;
}

h1,h2 {
    font-family: cursive;
}

.ingredients ul {
    border-style: dotted;
    border-color: lightgreen; 
    border-radius: 10px;
}

#postamble {
    font-style: italic;
    color: darkgray;
    margin: 0 0;
    text-align: start;

}

#postamble a {
    color: darkgray;
    text-decoration: none;
}
